body {
    margin: 0;
    height: 100vh;
    background: #001a0d;
    display: flex;
    flex-direction: column;
  }

main {
  height: 100vh;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

   @media (max-width: 768px) {
    body{
      display: block;
    }
   }

